
.background-parallax {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-one {
  background-image: url("../img/techsoup_illustrations-2-01.png");
}
.background-two {
  background-image: url("../img/techsoup_illustrations-2-02.png");
}
.background-three {
  background-image: url("../img/techsoup_illustrations-2-03.png");
}
.background-four {
  background-image: url("../img/techsoup_illustrations-2-04.png");
}
.background-five {
  background-image: url("../img/techsoup_illustrations-2-05.png");
}
